<div *ngIf="hero" class="row" style="justify-content: center">
  <div style="width: 250px;">
      <div class="card">
          <div class="card-header">
              {{hero.name | uppercase}}
          </div>
          <div class="card-block">
              <div class="card-title">
                  ID: {{hero.userId}}
              </div>
              <div class="card-text">
                  <label>NAME:
                      <input maxlength="15" [(ngModel)]="hero.name" placeholder="name"/>
                    </label>
              </div>
          </div>
      </div>
  </div>
</div>