<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header class="header-6">
    <div class="branding">
      <a routerLink="/dashboard" class="nav-link">
        <clr-icon shape="happy-face" class="is-inverse"></clr-icon>
        <span class="title">PWA tour</span>
      </a>
    </div>
    <div class="header-nav">
        <a routerLink="/dashboard" class="nav-link nav-text">Dashboard</a>
        <a routerLink="/heroes" class="nav-link nav-text">Heroes</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>

